.chart h2 {
    color: var(--text-color); /* Light grey text */
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--button-color); /* Light cyan underline for heading */
    padding-bottom: 10px;
    background-color: black;
  }