@import url('Global.css');

/* Container for the entire overview page */
.container {
    padding: 2%;
    width: auto;
    height: auto;
    /* background-color: var(--background-color); Dark grey background */
    color: var(--text-color); /* Light grey text for consistency */
  }
  
  /* Cards container - Flexbox layout */
  .cards-container {
    display: flex;
    height: 25%;
    justify-content: space-between;
    margin-bottom: 2%;
    gap: 1%; /* Ensure a small gap between cards */
  }
 
  /* Chart container */
  .chart-container {
    width: auto;
    height: auto; /* Adjust based on desired height */
    background-color: var(--background3-color); /* Darker background for the chart */
    padding: 2%;
    margin: 0 auto;
    border-radius: 3px; /* Pointy edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Consistent shadow */
    border-left: 4px solid var(--button-color); /* Light cyan accent */
    display: flex;
    justify-content: space-between; /* Adds space between the components */
    align-items: flex-start;
    gap: 20px;
  }
  
  /* Chart and its titles */
  .chart-container canvas {
    width: 100%;
    height: 100%;
  }
  .form-section {
    flex: 1; /* Take equal space */
    max-width: 45%; /* Control the width of the form */
  }
  
  .chart-section {
    flex: 1; /* Take equal space */
    max-width: 50%; /* Control the width of the table */
    height: 100%;
    background-color: var(--background-color);
  }
  /* Responsiveness - Adjust layout on smaller screens */
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      gap: 10px;
    }
  
    .chart-container {
      width: 100%;
      height: 250px;
    }

  }
  