@import url('Global.css');

    /* Form heading */
    .last-elements-table h2 {
      color: var(--text-color); /* Light grey text */
      font-size: 22px;
      margin-bottom: 20px;
      border-bottom: 2px solid var(--button-color); /* Light cyan underline for heading */
      padding-bottom: 10px;
    }

.last-elements-table {
    margin: 20px;
  }
  
  .last-elements-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .last-elements-table th, .last-elements-table td {
    padding: 10px;
    border: 1px solid var(--button-color);
  }
  
  .last-elements-table th {
    background-color: var(--background3-color);
  }

